*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --shadow: 0 4px 14px #21212115;
    --pink: #F466AF;
    --white: #FFFFFF;
    color: #212121;
    font-family: 'apple-system', 'system-iu', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #043853;
    position: relative;
}

body.no-scroll {
    overflow: hidden;
}

p {
    line-height: 1.25;
    letter-spacing: .01em;
    padding: 0 0 1em 0;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0.125em;
}
/* Universal Elements */
h1 {
    text-align: center;
    color: var(--white);
    margin-bottom: 1em;
}

h2 {
    font-weight: 700;
    color: #555555;
    border-bottom: 1px solid #555555;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
}

h3 {}

h4 {
    font-weight: 400;
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
}

button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 500px;
    padding: 1em 2em;
    font-size: 1.125em;
    display: inline-block;
}

section {
    padding: 1em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Custom elements */

#start {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start img {
    max-width: 20em;
    margin-bottom: 2em;
}

#summary p:first-of-type {
    font-weight: bold;
}

/* Host */
#hosts {
    padding-top: 2em;
    background-color: white;
}

#host {
    padding-bottom: 1em;
}

.persons {
    margin: 1em 0;
}

.persons li {
    display: flex;
    align-items: center;
}

.persons img {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
}

.persons div {
    margin-left: 1em;
}