*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --shadow: 0 4px 14px #21212115;
    --pink: #F466AF;
    --white: #FFFFFF;
    color: #212121;
    font-family: 'apple-system', 'system-iu', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #043853;
    position: relative;
    max-width: 45em;
    margin: 0 auto;
}

body.no-scroll {
    overflow: hidden;
}

p {
    line-height: 1.25;
    letter-spacing: .01em;
    padding: 0 0 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.125em;
}
/* Universal Elements */
h1 {
    text-align: center;
    color: var(--white);
    margin-bottom: 1em;
}

h2 {
    font-weight: 700;
    color: #555555;
    border-bottom: 1px solid #555555;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
}

/* h3 {} */

h4 {
    font-weight: 400;
    font-size: 1em;
}

h5 {
    margin-bottom: 0.25em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
}

button {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    border-radius: 500px;
    padding: 1em 2em;
    font-size: 1.125em;
    display: inline-block;
}

button[HOOK_START] {
    display: block;
    margin: 2em auto 0;
}

section {
    padding: 1em;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Custom elements */

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 12em;
    margin: 2em 0;
}

#summary p:first-of-type {
    font-weight: bold;
}

/* Host */
#hosts {
    padding-top: 2em;
    background-color: white;
}

#host {
    padding-bottom: 1em;
}

.persons {
    margin: 1em 0;
}

.persons li {
    display: flex;
    align-items: center;
}

.persons img {
    border: 2px solid;
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
}

.persons div {
    margin-left: 1em;
}

#transcript {
    padding: 0;
}

#transcript.started {
    padding: 1em;
    padding-bottom: 6em;
    min-height: 100%;
}

#transcript div {
    margin: .15em 0 0;
    animation: appear 100ms forwards;
}

#transcript div.marginTop {
    margin-top: .5em;
}

#transcript .pause {
    padding: .25em;
    margin: 1em 0;
    position: relative;
}

#transcript .loadbar {
    background-color: var(--pink);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    animation: load forwards linear;
    border-radius: 50px;
    z-index: -1;
}

#transcript .pause p {
    margin: 0;
    text-align: center;
    padding: 0;
    color: white;
}

#transcript .string {
    background-color: white;
    padding: 1em;
}

.string p {
    padding-bottom: 0;
}

#transcript .string[alignment=host] {
    margin-right: 1em;
}
#transcript .string[alignment=guest] {
    margin-left: 1em;
}

/* CONTROLS */
#controls {
    position: fixed;
    bottom: 0;
    height: 5em;
    width: 100%;
    padding: 0.25em .5em;
    display: flex;
    align-items: center;
    background-color: white;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform 500ms;
    box-shadow: 0 -4px 14px #21212120;
}

#controls [autoplay_control] {
    font-size: 16px;
    position: relative;
    width: 4em;
    height: 4em;
    box-shadow: var(--shadow);
}

#controls [autoplay_control] svg {
    position: absolute;
    fill: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 2em;
    height: 2em;
}

#controls [autoplay_control][state=play] #pause {
    display: block;
}

#controls [autoplay_control][state=paused] #play {
    display: block;
    left: 55%;
}

#controls.hidden {
    transform: translateY(100%);
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes load {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}