*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --shadow: 0 4px 14px #21212115;
    --pink: #F466AF;
    font-family: 'apple-system', 'system-iu', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #003A6C;
    position: relative;
}

body:before {
    content: "";
    background: radial-gradient(circle closest-side,#065882 10%, #003A6C 90%);
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
}

.start {
    background-color: #043853;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: transform 1s;
}

.start .triangle-tail {
    width: 100%;
    height: 4em;
}

.start img {
    padding: 2em;
    max-width: 20em;
    max-height: 20em;
}

.start button {
    color: white;
    border:none;
    font-size: 1.25em;
    text-transform: uppercase;
    background-color: var(--pink);
    padding: 1em 2em;
    border-radius: 50px;
}

.start.animate {
    transform: translateY(-150vh);
}

.view {
    height: 100%;
    display: flex;
    flex-direction: column;
}

[transcript] {
    flex: 1 1 auto;
}

[hosts] {
    flex: 0 0 6em;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
}

.person {
    text-align: center;
    margin-top: -2em;
}

.person h3 {
    margin-top: 0.25em;
}

.person img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 4px solid;
    object-fit: cover;
    box-shadow: var(--shadow);
}